In [7]:
import pandas as pd
from ydata_profiling import ProfileReport

In [9]:
df = pd.read_csv('data/fake_insurance_data.csv')
df.head(10)

    car_color  driver_age      area        mileage car_size
0       black   26.377219   suburbs  156806.288398      XXL
1       black   58.976840   suburbs   74400.323559       XL
2  multicolor   55.744988  downtown  267856.748015      XXL
3     metalic   57.629139  downtown  259028.249060      XXL
4       green   21.490637  downtown  110712.216080       XL
5        gray   50.052691  downtown  166848.529135      XXL
6       black   27.849175   suburbs   27533.843483       XL
7        blue   42.927957     hills  189280.320650       XL
8     metalic   73.966067     hills  180140.764820      XXL
9        gray   18.988367  downtown  183291.533883      XXL

In [10]:
profile = ProfileReport(df, title="Profiling Report")
profile.to_file("report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]