In [1]:
import numpy as np
import pandas as pd

from correlation import (
    pearson_correlation, spearman_correlation,
    create_buckets, contingency_table, chi_squared_statistic, phi_k_correlation
    )

%load_ext autoreload
%autoreload 2

In [2]:
df = pd.read_csv('data/fake_insurance_data.csv')
df.head(10)

    car_color  driver_age      area        mileage car_size
0       black   26.377219   suburbs  156806.288398      XXL
1       black   58.976840   suburbs   74400.323559       XL
2  multicolor   55.744988  downtown  267856.748015      XXL
3     metalic   57.629139  downtown  259028.249060      XXL
4       green   21.490637  downtown  110712.216080       XL
5        gray   50.052691  downtown  166848.529135      XXL
6       black   27.849175   suburbs   27533.843483       XL
7        blue   42.927957     hills  189280.320650       XL
8     metalic   73.966067     hills  180140.764820      XXL
9        gray   18.988367  downtown  183291.533883      XXL

In [3]:
print(pearson_correlation(df['driver_age'].values, df['mileage'].values))
print(spearman_correlation(df['driver_age'].values, df['mileage'].values))

-0.041367450139555194
-0.041166592291647985

In [4]:
A = df['driver_age'].values 
B = df['car_size'].values # category

In [5]:
contingency_table(A, B)

array([[ 29,  24,  20,  82,   6, 227],
       [  0,   0,   0,   1,   0,   0],
       [  0,   0,   0,   1,   0,   0],
       [ 39,  23,  12,  65,   7, 233],
       [ 35,  22,  22,  87,   6, 216],
       [ 36,  23,   8,  79,   3, 190],
       [ 26,  21,  10,  66,   5, 153],
       [ 12,   9,   4,  30,   2,  87],
       [  6,   1,   2,  16,   1,  30],
       [  2,   2,   0,   4,   2,  11],
       [  0,   0,   0,   1,   0,   1]])

In [6]:
phi_k_correlation(A, B)

0.06397476837120734